@model HoneyWebPlatform.Web.ViewModels.Blog.CommentFormModel


<textarea asp-for="Content" class="form-control w-100" cols="30" rows="9" placeholder="Напиши коментар..."></textarea>
<span asp-validation-for="Content" class="small text-danger"></span>
