@using static HoneyWebPlatform.Common.GeneralApplicationConstants;
@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

@inject IBeekeeperService BeekeeperService
@inject IOrderService orderService

@{
    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
    var controller = Context.Request.RouteValues["controller"];
    var action = Context.Request.RouteValues["action"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Пчелен Кошер</title>
    <link rel="icon" href="dingo-master/dingo-master/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/slick.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/gijgo.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/nice-select.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">
    <!--tstr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css"
          integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <!--::header part start::-->
    <header class="main_menu @(controller.ToString() == "Home" && action.ToString() == "Index" ? "home_menu" : "")">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        @*<a class="navbar-brand" href="index.html"> <img src="dingo-master/dingo-master/img/logo.png" alt="logo"> </a>*@
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Пчелен Кошер @*<img src="~/dingo-master/dingo-master/img/logo.png" alt="logo" />*@</a>

                        @* тоя бутон може би да се махне???*@
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">

                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Всички</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Honey" asp-action="All">Медове</a>
                                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Propolis" asp-action="All">Прополиси</a>
                                            @if (User.Identity?.IsAuthenticated ?? false && await orderService.HasOrdersForUserAsync(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                            {
                                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="User" asp-action="Orders">Поръчки</a>
                                            }
                                        </li>
                                    </ul>
                                </li>
                                @if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    @if (isUserBeekeeper)
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Моите</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li>
                                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Honey" asp-action="Mine">Медове</a>
                                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Propolis" asp-action="Mine">Прополиси</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Добави</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li>
                                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Honey" asp-action="Add">Мед</a>
                                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Propolis" asp-action="Add">Прополис</a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="All">Блог</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
                                </li>
                            </ul>
                        </div>
                        <partial name="_LoginPartial" />
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->


    <div>
        @RenderBody()
    </div>


    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-footer-widget footer_1">
                        <h4>About Us</h4>
                        <p>
                            Heaven fruitful doesn't over for these theheaven fruitful doe over days
                            appear creeping seasons sad behold beari ath of it fly signs bearing
                            be one blessed after.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-2 col-lg-3">
                    <div class="single-footer-widget footer_2">
                        <h4>Important Link</h4>
                        <div class="contact_info">
                            <ul>
                                <li><a href="#">WHMCS-bridge</a></li>
                                <li><a href="#"> Search Domain</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shopping Cart</a></li>
                                <li><a href="#"> Our Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span>Hath of it fly signs bear be one blessed after </p>
                            <p><span> Phone :</span> +2 36 265 (8060)</p>
                            <p><span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4 col-lg-3">
                    <div class="single-footer-widget footer_3">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping seas      sub</p>
                        <form asp-controller="User" asp-action="SubscribeNewsletter" method="post">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" name="email" class="form-control" placeholder='Email Address'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn"><i class="fas fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <h4>Newsletter</h4>
                        <p>unsub</p>
                        <form asp-controller="User" asp-action="UnsubscribeNewsletter" method="post">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="email" placeholder='Email Address'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="copyright_part_text">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="footer-text m-0">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Пчелен Кошер &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This website is made with
                            <i class="ti-heart" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">kosher</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="copyright_social_icon text-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="ti-dribbble"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/lib/bootstrap/dist/js/jquery-1.12.1.min.js"></script>

    <!-- popper js -->
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/lib/bootstrap/dist/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/lib/bootstrap/dist/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/lib/bootstrap/dist/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/lib/bootstrap/dist/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="~/lib/bootstrap/dist/js/slick.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/gijgo.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/lib/bootstrap/dist/js/custom.js"></script>

    <!--tstr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"
            integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <partial name="_NotificationsPartial" />


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
