@using Microsoft.AspNetCore.Identity
@using HoneyWebPlatform.Data.Models
@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

@inject IBeekeeperService BeekeeperService
@{
    bool isUserAgent = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
    string userFullName = await UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="User" asp-action="Cart" class="nav-link">
                <img src="~/dingo-master/dingo-master/img/shopping-cart.png" alt="logo" style="width: 40px; margin-right: 15px; margin-top: 3px;" />
            </a>
        </li>
        <li class="menu_btn">
            <a class="btn_1 d-none d-sm-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @userFullName</a>
        </li>
        @if (!isUserAgent)
        {
            <li class="menu_btn">
                <a class="btn_1 d-none d-sm-block" style="margin-right: 5px;" asp-area="" asp-controller="Beekeeper" asp-action="Become">Стани Пчелар</a>
            </li>
        }
        <li class="menu_btn">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn_1 d-none d-sm-block">Излез</button>
            </form>
        </li>
    }
    else
    {
        <li class="menu_btn">
            <a class="btn_1 d-none d-sm-block" asp-area="" asp-controller="User" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">Регистрирай</a>
        </li>
        <li class="menu_btn">
            <a class="btn_1 d-none d-sm-block" asp-area="" asp-controller="User" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Влез</a>
        </li>
    }
</ul>