@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Изтегли си данните";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
