@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.Manage.GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генериране на кодове за възстановяване на двуфакторна аутентикация (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Поставете тези кодове на безопасно място.</strong>
    </p>
    <p>
        Ако загубите устройството си и нямате кодовете за възстановяване, ще загубите достъпа до акаунта си.
    </p>
    <p>
        Генерирането на нови кодове за възстановяване не променя ключовете, използвани в приложения за аутентикация. Ако желаете да промените ключа,
        използван в приложение за аутентикация, трябва да <a asp-page="./ResetAuthenticator">нулирате вашите ключове за аутентикация.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генериране на кодове за възстановяване</button>
    </form>
</div>