@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.Manage.ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Кодове за възстановяване";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Поставете тези кодове на безопасно място.</strong>
    </p>
    <p>
        Ако загубите устройството си и нямате кодовете за възстановяване, ще загубите достъпа до акаунта си.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>