@model HoneyWebPlatform.Web.ViewModels.Honey.HoneyDetailsViewModel

@{
    ViewData["Title"] = "Начална Страница";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей, Админе!</h2>
    <p class="lead mb-1 mt-3">
        Това е администраторската ти област - тук можеш да <b>четеш</b>, <b>създаваш</b>,
        <b>изтриваш</b> и <b>променяш</b> медове и прополиси.
        <br />
    </p>
    <p class="lead mt-1">
        Също така можеш да видиш <b>всички потребители и пчелари</b> регистрирани в системата.
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Honey" asp-action="All"
       class="btn btn-primary btn-lg">Всички Медове</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Honey" asp-action="Add"
       class="btn btn-primary btn-lg">Добави Мед</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Honey" asp-action="Mine"
       class="btn btn-primary btn-lg">Моите Медове</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Propolis" asp-action="All"
       class="btn btn-primary btn-lg">Всички Прополиси</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Propolis" asp-action="Add"
       class="btn btn-primary btn-lg">Добави Прополис</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Propolis" asp-action="Mine"
       class="btn btn-primary btn-lg">Моите Прополиси</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">Всички Потребители</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Orders" asp-action="All"
       class="btn btn-primary btn-lg">Всички Поръчки</a>
</div>


@*STATS*@
<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Покажи статистиката</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h3 class="col-md-6 text-center" id="total_honeys"></h3>
        <h3 class="col-md-6 text-center" id="total_active_honeys"></h3>
        <h3 class="col-md-6 text-center" id="total_propolises"></h3>
        <h3 class="col-md-6 text-center" id="total_active_propolises"></h3>
        <h3 class="col-md-6 text-center" id="total_posts"></h3>
        <h3 class="col-md-6 text-center" id="total_active_posts"></h3>
    </div>
</div>


@section Scripts
{
    <script>
        var statisticsUrl = '@Url.Action("GetStatistics", "Home")';
        statistics(statisticsUrl);
    </script>
}
