@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Достъпът спрян";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Вие нямате достъп до този ресурс.</p>
</header>
