@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърди имейл";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
