@page
@model HoneyWebPlatform.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля, проверете вашия имейл, за да анулирате вашата стара парола.
</p>