@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Проблем.</h1>
<h2 class="text-danger">Стана беля докато се опитвахме да извършим заявката Ви. </h2>
<br /><br />
<div class="text-left h4">  Идете обратно в <a asp-controller="Home" asp-action="Index">Началната</a> Страница</div>