@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@model IndexViewModel

@inject IBeekeeperService BeekeeperService
@{
    ViewData["Title"] = "Начална Страница";

    var honeys = Model.Honeys.ToList();
    var propolises = Model.Propolises.ToList();
    var posts = Model.Posts.ToList();

    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
}

@*@if (!honeys.Any())
    {
        <div class="mt-4 p-5 bg-light">
            <h1 class="display-4">Добре дошли на най-хубавото място за Пчелари!</h1>
            <p class="lead">
                В момента няма налични медове и прополиси.
                Защо не добавите някой?
            </p>
            <hr class="my-4">
            <p class="lead">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    @if (isUserBeekeeper)
                    {
                        <a asp-controller="Honey" asp-action="Add" class="btn btn-primary btn-lg"
                           role="button">Добави Мед</a>
                        <a asp-controller="Propolis" asp-action="Add" class="btn btn-primary btn-lg"
                           role="button">Добави Прополис</a>
                    }
                }
            </p>
        </div>
    }*@


<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Expensive but the best</h5>
                        <h1>Deliciousness jumping into the mouth</h1>
                        <p>
                            Together creeping heaven upon third dominion be upon won't darkness rule land
                            behold it created good saw after she'd Our set living. Signs midst dominion
                            creepeth morning
                        </p>
                        <div class="banner_btn">
                            <div class="banner_btn_iner">
                                <a href="#" class="btn_2">Reservation <img src="dingo-master/dingo-master/img/icon/left_1.svg" alt=""></a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup">
                                <span><img src="img/icon/play.svg" alt=""></span> Watch our story
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!--::exclusive_item_part start::-->
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/food_item_1.png" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Indian Burger</h3>
                        <p>Was brean shed moveth day yielding tree yielding day were female and </p>
                        <a href="#" class="btn_3">Read More <img src="img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/food_item_2.png" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Cremy Noodles</h3>
                        <p>Was brean shed moveth day yielding tree yielding day were female and </p>
                        <a href="#" class="btn_3">Read More <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/food_item_3.png" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Honey Meat</h3>
                        <p>Was brean shed moveth day yielding tree yielding day were female and </p>
                        <a href="#" class="btn_3">Read More <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 d-none d-sm-block d-lg-none">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/food_item_1.png" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Cremy Noodles</h3>
                        <p>Was brean shed moveth day yielding tree yielding day were female and </p>
                        <a href="#" class="btn_3">Read More <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->
<!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="dingo-master/dingo-master/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Our History</h5>
                    <h2>
                        Where The Food’s As Good
                        As The Root Beer.
                    </h2>
                    <h4>Satisfying people hunger for simple pleasures</h4>
                    <p>
                        May over was. Be signs two. Spirit. Brought said dry own firmament lesser best sixth deep
                        abundantly bearing, him, gathering you
                        blessed bearing he our position best ticket in month hole deep
                    </p>
                    <a href="#" class="btn_3">Read More <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->
<!-- intro_video_bg start-->
<section class="intro_video_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Expect The Best</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                           href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- intro_video_bg part start-->
<!-- food_menu start-->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Popular Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a class="active" id="Honey-tab" data-toggle="tab" href="#Honey" role="tab" aria-controls="Honey" aria-selected="true">
                        Мед
                        <img src="dingo-master/dingo-master/img/icon/play.svg" alt="play">
                    </a>
                    <a id="Propolis-tab" data-toggle="tab" href="#Propolis" role="tab" aria-controls="Propolis" aria-selected="false">
                        Прополис
                        <img src="dingo-master/dingo-master/img/icon/play.svg" alt="play">
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Honey" role="tabpanel" aria-labelledby="Honey-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_HoneyIndexPartial" model="honeys.Take(3)" />
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_HoneyIndexPartial" model="honeys.Skip(3)" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Propolis" role="tabpanel" aria-labelledby="Propolis-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_PropolisIndexPartial" model="propolises.Take(3)" />
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_PropolisIndexPartial" model="propolises.Skip(3)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- food_menu part end-->
<!--::chefs_part start::-->
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experience Chefs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_1.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Adam Billiard</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_2.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Fred Macyard</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_3.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Justin Stuard</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 d-none d-sm-block d-lg-none">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_1.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Justin Stuard</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::chefs_part end::-->
<!--::reservation_part start::-->
<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Reservation</p>
                    <h2>Book A Table</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Name *">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="inputPassword4"
                                       placeholder="Email address *">
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" id="Select">
                                    <option value="1" selected>Persons *</option>
                                    <option value="2">Number of guests 1</option>
                                    <option value="3">Number of guests 2</option>
                                    <option value="4">Number of guests 3</option>
                                    <option value="5">Number of guests 4</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="pnone" placeholder="Phone number *">
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group date">
                                    <input id="datepicker" type="text" class="form-control" placeholder="Date *" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" id="Select2">
                                    <option value="" selected>Time *</option>
                                    <option value="1">8 AM TO 10AM</option>
                                    <option value="1">10 AM TO 12PM</option>
                                    <option value="1">12PM TO 2PM</option>
                                    <option value="1">2PM TO 4PM</option>
                                    <option value="1">4PM TO 6PM</option>
                                    <option value="1">6PM TO 8PM</option>
                                    <option value="1">4PM TO 10PM</option>
                                    <option value="1">10PM TO 12PM</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" id="Textarea" rows="4"
                                          placeholder="Your Note *"></textarea>
                            </div>
                        </div>


                        <div class="regerv_btn">
                            <a href="#" class="btn_4">Book A Table</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::reservation_part end::-->
<!--::review_part start::-->
<section class="review_part gray_bg section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Testimonials</p>
                    <h2>Customers Feedback</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png" alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place
                            </p>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                    </div>
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png " alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place
                            </p>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                    </div>
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png" alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place
                            </p>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->
<!--::exclusive_item_part start::-->
<section class="blog_item_section blog_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Последни Новини</p>
                    <h2>Най-новите постове от нашия Блог</h2>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var post in posts)
            {
                <div class="col-sm-6 col-lg-4">
                    <partial name="_HomePostPartial" model="post" />
                </div>
            }

        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->

@section Scripts
{
    <script>statistics();</script>


}
