@model HoneyFormModel
@{
    ViewData["Title"] = "Add Honey";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_HoneyFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
