@model List<HoneyAllViewModel>
@{
    ViewData["Title"] = "Моите Медове";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">Все още нямате Ваши Медове!</h2>
}
else
{
    <div class="row">
        @foreach (HoneyAllViewModel honey in Model)
        {
            <partial name="_HoneyPartial" model="honey"/>
        }
    </div>
}