@model LoginFormModel

@{
    ViewData["Title"] = "Вход";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Използвайте локален акаунт за вход.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating text-center mb-4">
                    <label asp-for="Email" class="form-label text-center">Вашият имейл</label>
                    <input asp-for="Email" class="form-control text-center" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating text-center mb-4">
                    <label asp-for="Password" class="form-label text-center">Вашата парола</label>
                    <input asp-for="Password" class="form-control text-center" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox text-center">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input text-center" style="margin-left: 100px" asp-for="RememberMe" /> Запомни ме?
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-4">Вход</button>
                </div>
                <div class="text-center mb-4">
                    <a class="btn_1 d-none d-sm-block" asp-area="Identity"
                       asp-page="/Account/ExternalLogin" asp-route-provider="Google"
                       asp-route-returnUrl="@Context.Request.Path">
                        Влез с Google   <span class="fab fa-google fa-lg"></span>
                    </a>

                    <a class="btn_1 d-none d-sm-block mt-3 mb-3" asp-area="Identity"
                       asp-page="/Account/ExternalLogin" asp-route-provider="Facebook"
                       asp-route-returnUrl="@Context.Request.Path">
                        Влез с Facebook   <span class="fab fa-facebook-f fa-lg"></span>
                    </a>

                    <p>
                        <a asp-controller="User" asp-action="Register">Регистрирайте се като нов потребител</a>
                    </p>
                </div>
            </form>
        </section>
    </div>



</div>

<hr />
<hr />
<hr />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}