@model CategoryDetailsViewModel

@{
    ViewData["Title"] = "Детайли на Категорията";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<div class="container-fluid">
    <div class="row">
        <p class="col-6">Име: @Model.Name</p>
    </div>
</div>