@model HoneyWebPlatform.Web.ViewModels.Blog.PostFormModel
@{
    ViewData["Title"] = "Добави Пост";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PostFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
