@model HoneyWebPlatform.Web.Areas.Admin.ViewModels.Propolis.MyPropolisesViewModel

@{
    ViewBag.Title = "Моите Прополиси";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>Моите добавени Прополиси</h4>

@if (!Model.AddedPropolises.Any())
{
    <h2 class="text-center">Все още нямате добавени Прополиси!</h2>
}

<div class="row">
    @foreach (var propolis in Model.AddedPropolises)
    {
        @await Html.PartialAsync("~/Views/Shared/_PropolisPartial.cshtml", propolis)
    }
</div>