@using HoneyWebPlatform.Web.Infrastructure.Middlewares;
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Всички потребители";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
    <tr>
        <th><label>Имейл</label></th>
        <th><label>Пълно име</label></th>
        <th><label>Телефонен номер</label></th>
        <th><label>Потребителят е пчелар</label></th>
        <th><label>Потребителят е онлайн</label></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td><label>@user.Email</label></td>
            <td><label>@user.FullName</label></td>
            <td><label>@user.PhoneNumber</label></td>
            <td>
                @if (user.PhoneNumber != string.Empty)
                {
                    <label>✔</label>
                }
                else
                {
                    <label class="text-center">❌</label>
                }
            </td>
            <td>
                @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id))
                {
                    <label>✔</label>
                }
                else
                {
                    <label class="text-center">❌</label>
                }
            </td>
        </tr>
    }
    </tbody>
</table>