@model PropolisFormModel
@{
    ViewData["Title"] = "Редактирай Прополиса";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_PropolisFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
