@model MyHoneysViewModel

@{
    ViewBag.Title = "Моите Медове";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>Моите добавени Медове</h4>

@if (!Model.AddedHoneys.Any())
{
    <h2 class="text-center">Все още нямате добавени Медове!</h2>
}

<div class="row">
    @foreach (var honey in Model.AddedHoneys)
    {
        @await Html.PartialAsync("~/Views/Shared/_HoneyPartial.cshtml", honey)
    }
</div>